@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 66% 100%;
    --foreground: 188 76% 2%;
    --muted: 188 29% 95%;
    --muted-foreground: 188 0% 28%;
    --popover: 0 0% 99%;
    --popover-foreground: 188 76% 1%;
    --card: 0 0% 99%;
    --card-foreground: 188 76% 1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 188 44% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188 12% 82%;
    --secondary-foreground: 188 12% 22%;
    --accent: 188 18% 73%;
    --accent-foreground: 188 18% 13%;
    --destructive: 12 87% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 188 44% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 188 30% 0%;
    --foreground: 188 33% 100%;
    --muted: 188 29% 5%;
    --muted-foreground: 188 0% 72%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 188 44% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188 8% 8%;
    --secondary-foreground: 188 8% 68%;
    --accent: 188 14% 16%;
    --accent-foreground: 188 14% 76%;
    --destructive: 12 87% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 188 44% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
